<h1>Home</h1>

{{#if user.loggedIn}}
  <p>{{user.name}}</p>
{{/if}}

<section style="
  display:flex;
  flex-direction:column;
  gap:1.2rem;
">
  {{#each users}}
    <article style="
      color:#FFF;
      background-color:#333;
      padding:1.2rem;
    ">
      <h3>{{this.username}}</h3>
      <p>{{this.email}}</p>
    </article>
  {{/each}}
</section>