<section class="flex flex-col gap-2">
  {{#each users}}
    <article class="w-max rounded p-4 text-white bg-gray-800">
      <h3 class="text-lg font-bold">{{this.username}}</h3>
      <p>{{this.email}}</p>
    </article>
  {{/each}}
</section>