<h2 class="text-2xl font-bold">Bienvenido {{ user.username }}</h2>
<p>Este sistema fue desarrollado haciendo uso de la <strong>Arquitectura Modelo Vista Controlador (MVC).</strong></p>
<p>El sistema fué desarrollado usando estas tecnologías:</p>
<ul class="pl-5 list-disc">
  <li>HTML y CSS a través del framework TailwindCSS.</li>
  <li>NodeJS para el backend a través del framework Express.</li>
  <li>MySQL para la base de datos.</li>
  <li>El ORM Prisma para la validación y modelado de objetos del modelo.</li>
  <li>Handlebars para renderizar las vistas.</li>
  <li>JavaScript para el frontend.</li>
</ul>