<h1 class="p-4 text-3xl font-bold text-center">Login</h1>
<div class="flex justify-center items-center">
  <form class="w-5/12 flex flex-col gap-2" action="/auth/login" method="POST">
    <input class="border border-sky-300 rounded p-2" type="email" name="email" placeholder="Enter your email">
    <input class="border border-sky-300 rounded p-2" type="password" name="password" placeholder="Enter your password">
    <input class="rounded p-2 text-white font-bold bg-blue-600 hover:bg-blue-800 cursor-pointer transition-colors" type="submit" value="Login">
  </form>
</div>