<main class="flex flex-col gap-2 justify-center items-center">
  <img class="w-1/2 h-1/2" src="/img/404.jpg" alt="Not Found">
  <h1 class="text-3xl font-bold">Not Found</h1>
  <p class="text-xl">The resource that you've been looking for is broken or not available at this moment</p>
</main>