<main class="flex flex-col gap-2 justify-center items-center">
  <img class="w-1/2 h-1/2" src="/img/403.jpg" alt="Forbidden">
  <h1 class="text-3xl font-bold">Forbidden</h1>
  <p class="text-xl">Insufficient permissions</p>
</main>