<nav class="bg-gray-800">
  <ul class="p-3 flex gap-2 text-white">
    <a class="rounded-md px-3 py-2 text-gray-300 hover:text-white hover:bg-gray-700 transition-colors" href="/">Home</a>
    <a class="rounded-md px-3 py-2 text-gray-300 hover:text-white hover:bg-gray-700 transition-colors" href="/auth/login">Login</a>
    <a class="rounded-md px-3 py-2 text-gray-300 hover:text-white hover:bg-gray-700 transition-colors" href="/auth/signup">SignUp</a>
  </ul>
</nav>