<nav class="bg-gray-800">
  <ul class="p-4 flex gap-2 justify-between text-xl text-white">
    <div>
      <a href="/" class="flex gap-2 justify-center items-center">
        <img src="/img/logo.svg" alt="Peruvian Wishes" width="30" height="30">
        <span class="font-bold">Peruvian Wishes</span>
      </a>
    </div>
    <div>
        {{#if (isAdmin user.role)}}
          <a class="rounded-md px-3 py-2 text-gray-300 hover:text-white hover:bg-gray-700 transition-colors" href="/admin/users">Users</a>
        {{/if}}
        <a class="rounded-md px-3 py-2 text-gray-300 hover:text-white hover:bg-gray-700 transition-colors" href="/food">Food</a>
        {{#if user.loggedIn}}
          <a class="rounded-md px-3 py-2 text-gray-300 hover:text-white hover:bg-gray-700 transition-colors" href="#">{{ user.username }}</a>
          <a class="rounded-md px-3 py-2 text-gray-300 hover:text-white hover:bg-gray-700 transition-colors" href="/auth/logout">Logout</a>
        {{else}}
          <a class="rounded-md px-3 py-2 text-gray-300 hover:text-white hover:bg-gray-700 transition-colors" href="/auth/login">Login</a>
          <a class="rounded-md px-3 py-2 text-gray-300 hover:text-white hover:bg-gray-700 transition-colors" href="/auth/signup">SignUp</a>
        {{/if}}
    </div>
  </ul>
</nav>