<h1>Add Food</h1>
<form action="/food/addFood" method="POST">
  <input type="text" name="name" placeholder="Name..." value="{{ foodData.name }}">
  <input type="number" name="price" placeholder="Price..." value="{{ foodData.price }}">
  <textarea name="description" cols="30" rows="10" placeholder="Description...">{{ foodData.description }}</textarea>
  <input type="text" name="image" placeholder="Image..." value="{{ foodData.image }}">
  <input type="submit" value="Add">
</form>