<h1>Borrando Food</h1>
<h3>{{ food.name }}</h3>
<p>Confirme que desea borrar a este food</p>
<form action="/food/{{ food.id }}/delete" method="POST">
  <input class="p-2 text-white bg-yellow-600 cursor-pointer" type="submit" value="Confirmar">
</form>